h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.status {
	text-align: center;
}

footer {
	text-align: center;
	margin-top: 15%;
}

.cell {
	margin: 30px;
	border: solid 1px;
	text-align: center;
	padding: 20px;

}

.table {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell img {
	width: 50% ;
	height: 50% ;
}
