* {
    padding: 0px;
}

body {
/*    background-image: url(http://i.imgur.com/4s01o2C.png);*/
    font-family: sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.status {
	text-align: center;
}

footer {
	text-align: center;
	margin-top: 15%;
}

.cell {
	margin: 6px;
	border: solid 1px;
	text-align: center;
	padding: 1%;
	flex-shrink: 0;
}

.table {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.cell img {
	margin-left: 30px;
	margin-right: 30px;
	width: 131px ;
	height: 175px ;
}

#menus {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#menus > li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 30px;
    background-color: #277EB6;
}

#menus a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
}

#menus > li:hover {
    background: #777;
}
